.content {
  margin-top: 40px;
}
.poster {
  margin-left: 20px;
}
.bold {
  font-weight: bold;
}
.video {
  margin: 10px 0;
  width: 100%;
}
.form {
  width: 100%;
}

.fieldset {
  border-radius: 10px;
  padding: 20px;
  border: 1px dashed black;
  margin-bottom: 20px;
}
.fieldset > .legend {
  padding: 0 5px;
  color: black;
  border: 0;
  width: fit-content;
  font-size: 18px;
}
.formItem {
  width: 100%;
  padding-right: 10px;
}
.formItem :global(.ant-select-selector) {
  border-color: black !important;
  border-radius: 5px !important;
}
.input {
  border-radius: 5px;
  border: 1px solid black;
  padding: 5px 10px;
  width: 100%;
  margin-bottom: 5px;
}

.submitButton {
  cursor: pointer;
  border: none;
  background-color: #007bff;
  color: white;
  margin: 20px 0;
  border-radius: 5px;
}

.thankYou {
  text-align: center;
  margin: 0 auto;
}
