.FormPage {
  min-height: 100%;
}

.Header {
  background-color: #303030;
  display: flex;
  min-width: 100vw;
  justify-content: space-between;
  min-height: 7vh;
}

.content {
  margin-top: 40px;
}
.logo {
  margin: 10px;
  background-image: url("../../public/assets/img/icons/AutosweetAUTOS_Final-1png-03.png");
  width: 185px;
  height: 85px;
  background-size: contain;
  background-repeat: no-repeat;
}

.video {
  width: 100%;
}

.fieldset {
  border-radius: 10px;
  padding: 20px;
  border: 1px dashed black;
  margin-bottom: 20px;
}

.FormPage img {
  margin: 0 20px;
  width: 95%;
}
.fieldset input,
.fieldset select {
  border-radius: 5px;
  border: 1px solid black;
  padding: 5px 10px;
  width: 100%;
  margin-bottom: 10px;
  background: transparent;
}
.fieldset textarea {
  resize: none;
  width: 100%;
  border-radius: 5px;
  padding: 10px;
}
.terms {
  display: flex;
  align-items: center;
  font-weight: bold;
}
.terms input {
  margin-right: 5px;
}

.submitButton {
  cursor: pointer;
  border: none;
  background-color: #007bff;
  color: white;
  margin: 20px 0;
  padding: 10px 20px;
  border-radius: 5px;
}

.thankYou {
  text-align: center;
  margin: 0 auto;
}
.label {
  overflow: hidden;
  top: 0;
  left: 0;
  color: grey;
  cursor: text;
  padding: 5px 10px;
  position: absolute;
  z-index: -1;
}
.label > span {
  color: red;
}

.inputForm:focus,
.inputForm:not(:placeholder-shown) {
  background: white;
}
