.LikeDislikeBody {
  
}
.resultList {
  grid-area: resList;
}
.pagination {
  display: flex;
  justify-content: center;
}

/* GIVING ERROR: https://stackoverflow.com/questions/65985543/selector-global-class-is-not-pure-pure-selectors-must-contain-at-least-one */

/* ::-webkit-scrollbar {
    width: 12px;
}
::-webkit-scrollbar-thumb {
    border-width: 1px 1px 1px 2px;
    border-color: #777;
    background-color: #aaa;
}
::-webkit-scrollbar-thumb:hover {
    border-width: 1px 1px 1px 2px;
    border-color: #555;
    background-color: #777;
}
::-webkit-scrollbar-track {
    border-width: 0;
}
::-webkit-scrollbar-track:hover {
    border-left: solid 1px #aaa;
    background-color: #eee;
} */

@media (max-width: 900px) {
  .results {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-areas:
      "search recomended"
      "resList recomended"
      "resList recomended"
      "footer footer";
    grid-template-columns: 5fr 2fr;
    grid-gap: 5px;
    align-self: center;
    justify-content: center;
  }
  .wrap {
    max-width: 95%;
    width: 100%;
    min-height: 100%;
    height: 80%;
    margin: 0 auto;
    padding-bottom: 210px;
  }
  .resultList {
    grid-area: resList;
    width: 100%;
  }
  .carInfo {
    line-height: 21;
  }
}
@media (max-width: 600px) {
  .logo {
    width: 185px;
    height: 85px;
  }
  .results {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-areas:
      "search"
      "resList "
      "footer";
    grid-template-columns: 5fr;
    grid-gap: 5px;
    align-self: center;
    justify-content: center;
  }
  .recomendedItem {
    display: none;
    grid-area: recomended;
    margin: 10px;
  }
  .resultList {
    grid-area: resList;
  }
  .ResultItem {
    line-height: 20px;
    font-weight: 500;
    min-height: 200px;
    min-width: 95%;
    display: flex;
    flex-direction: column;
  }
  .itemInfo {
    font-size: 10px;
    padding: 0 5px;
  }
}
