.SearchResults {
  width: 80vw;
  margin: 0 auto;
}
.Header {
  background-color: #303030;
  display: flex;
  min-width: 100vw;
  justify-content: space-between;
  min-height: 7vh;
  flex-wrap: wrap;
}
.logo {
  margin: 10px;
  height: 85px;
}
.results {
  width: 70%;
}
.pagination {
  display: flex;
  justify-content: center;
  width: 70%;
  margin-bottom: 20px;
}
.recomendedItem {
  margin: 10px;
}
@media (max-width: 900px) {
  .SearchResults {
    width: 95vw;
  }
}
@media (max-width: 600px) {
  .SearchResults {
    flex-direction: column;
  }
  .logo {
    width: 185px;
    height: 85px;
  }
  .pagination {
    width: 100%;
  }
  .results {
    order: 2;
    width: 100%;
  }
  .recomendedItem {
    display: none;
    order: 1;
  }
}
